.footer {
  background-color: bisque;
  padding-top: 1rem;
}
.footer-sm {
  background-color: bisque;
  color: rgb(206, 122, 4);
}
.footer-sm a {
  color: rgb(255, 255, 255);
}
.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}
.footer-sm__icons {
  text-align: left;
  padding: 1.5rem 0;
  margin-right: 30px;
}
.footer-bottom {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.footer-bottom__copyright {
  text-align: center;
  color: darkgoldenrod;
  font-weight: 400;
}
.footer-bottom__copyright a {
  color: black;
  text-decoration: none;
}
.footer-bottom__copyright a:hover {
  color: gray;
  text-decoration: underline;
}
